*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 2px solid #2C2069;
    button{
        color: #2C2069;
        font-weight: bold
    };
}
.text_prime{
    color: #2C2069;
}
.btn-success{
    background: #3F8542;
}
section#form_section{
    .form_wrapper{
        max-width: 700px;
        .form_header{
            color: #2C2069;
        }
        .form_body{
            .form_title{
                background: #F0F4F9;
                color: #2c2069;
            }
        }
    }
}